@media (max-width: 415px) {
    @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0%);
    }

    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(100%);
    }

    100% {
      opacity: 0;
      transform: scale(0%);
    }
  }

  .LeftViewParent {
    height: 100vh;
    width: 100%;
  }

  .Header {
    flex-direction: column;
  }
  
  .HeaderTitle {
    margin: 0 0 5px 0;
  }

  .ContactParent {
    top: 95px;
    width: 100%;
  }
  
  .LinksContainer {
    justify-content: center;
    width: 100%;
  }

  .ProjectDiscriptionParent {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .ProjectDiscription {
    height: 70%;
  }
  

  .ProjectContainer {
    animation: fadeIn 1s linear 0s;
    height: 40%;
    width: 100%;
  }
  
  .ProjectTitle {
    animation: fadeOut 1s linear 6s;
    height: 40%;
    flex-flow: row wrap;
  }

  .ProjectTitle .ProjectText {
    height: 100%;
    font-size: 30px;
  }

  .ProjectInfo {
    animation: fadeOut 1s linear 6s;
    height: 100%;
  }

  .AboutMeParent {
    overflow: hidden;
    padding: 12% 1% 0% 5%;
  } 

  .ImageAndFactsContainer {
    border-left: 2px solid #373940;
    border-top: 2px solid #373940;
    height: 80vh;
    padding: 2%;
  }

  .Image {
    border-radius: 5px;
    height: 35%;
    width: 55%;
  }
}