@media (max-width: 415px) {

  @keyframes slideUpLeft {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
  
    100% {
      opacity: 0;
      transform: translateX(-50%);
    }
  }
  
  @keyframes SlideUpFromRight {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  .RightViewParent {
    height: 100%;
    width: 100%;
  }

  .RighViewContent { 
    animation: slideUpLeft 1s ease-in-out 6s;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .ImageParent {
    animation: SlideUpFromRight 1s ease-out 0s;
    width: 100%;
  }

  .Images {
    width: 70%;
  }

  .ProjectButtons {
    flex-direction: column;
    height: 60px;
    width: 60%
  }
  
  .ProjectLinkButtons {
    margin: 5px 0;
  }

}