@media (max-width: 415px) {
  
  .TriangleRight {
    top: 1100px;
  }
}

@media (max-height: 830px) {
  .TriangleTopRight {
    border-left: 100px solid transparent;
    border-top: 100px solid #F4FAFF;
    bottom: 450px;
    height: 0;
    left: 330px;
    position: relative;
    width: 0;
    z-index: 1;
  }
  
  .RedSmallCircle {
    top: 550px; 
    height: 200px; 
    right: -120px;
  }

  .BlueSmallCircleTwo {
    left: 50px;
    top: -120px;
  }
}

@media (max-height: 800px) {
  .TriangleRight {
    top: 800px;
  }
}

@media (max-height: 700px) {
  .BlueSmallCircleTwo {
    left: -30px;
    top: -300px;
  }

  .RedSmallCircle {
    top: -60px; 
    height: 200px; 
    right: -100px;
  }
}