
/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 130px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: Black; }
}

.AboutMeContainer {
  display: flex;
  flex-flow: row wrap;
  height: 95%;
  width: 100%;
}

.AboutMePersonalInfo {
  /* background: beige; */
  height: 30%;
  width: 100%;
}

.AboutMeMap {
  /* background: cadetblue; */
  display: flex; 
  height: 70%;
  justify-content: flex-end; 
}

.AboutMeHomeContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

#AboutMeHome:first-of-type {
  animation: typing 1.6s steps(14, end),
    blink-caret .75s step-end infinite;
  border-right: .15em solid; /* The typwriter cursor */
  color: #FCA311;
  font-size: 30px;
  height: 40px;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 3px; /* Adjust as needed */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
}
