/* .AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* @keyframes AppLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* STYLES BEING BELOW HERE */

.App {
  height: 100%;
  overflow: hidden;
}

/* ---------------- */
/* ---------------- */
/* MAIN.JS STYLES  */
.MainParent {
  display: flex;
  width: 100%;
  height: 50%;
}





