.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* @keyframes AppLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* STYLES BEING BELOW HERE */

.App {
  height: 100%;
  overflow: hidden;
}

/* ---------------- */
/* ---------------- */
/* MAIN.JS STYLES  */
.MainParent {
  display: flex;
  width: 100%;
  height: 50%;
}

.MainHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
}

.MainTitle {
  color: #98C1D9;
  font-size: 25px;
  margin: 0;
}

.MainNavigation {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.HeaderButtons {
  background: none;
  border: none;
  color: #121619;
  height: 30px;
  outline: none;
}

.HeaderButtons:hover {
  cursor: pointer; 
}

.HeaderButtons:active {
  background: #E5E5E5;
  border-radius: 10px;
  cursor: pointer;
}

/* ---------------- */
/* ---------------- */
/* LEFT VIEW STYLES */
.LeftViewParent {
  width: 60vw;
}

.LeftViewContentParent {
  align-items: center;
  /* background-color: brown; */
  display: flex;
  height: 100vh;
  justify-content: center;
}

.ProjectLeftViewContent {
  align-items: flex-start;
  /* background-color: dimgray; */
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  width: 70%
}

.ProjectInfo {
  animation: slideUp 6s linear 1s;
  display: flex;
  height: 20%;
  flex-direction: row;
}

.ProjectInfo h1 {
  font-size: 30px;
}

.ProjectText {
  font-size: 18px;
  padding: 0;
  margin: 0;
}


/* ---------------- */
/* ---------------- */
/* RIGHT VIEW STYLES */
.RightViewParent {
  background-color: #F5D0C5;
  height: 100%;
  overflow: hidden;
  width: 40%;
}


@keyframes slideUp {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}

.ImageParent1 {
  animation: slideUp 6s linear 1s;
  align-items: center; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  height: 100%; 
  position: absolute;
  z-index: 3;
}

.Images {
  border-radius: 5px;
  height: 70%;
  width: 50%;
}

.ProjectRighViewtButtons {
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
  margin: 5px 0;
  width: 50%
}

.ProjectLinkButtons {
  border-radius: 5px;
  outline: 0;
  border: none;
}

.ProjectLinkButtons:active {
  background: #E5E5E5;
  cursor: pointer; 
}

.ProjectLinkButtons:hover {
  cursor: pointer; 
}


