.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* @keyframes AppLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* STYLES BEING BELOW HERE */

.MainParent {
  display: flex;
  width: 100%;
}

.LeftViewParent {
  width: 60%
}

.RightViewParent {
  background-color: #E5E5E5;
  width: 40%;
}

.MainHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
}

.MainTitle {
  color: #98C1D9;
  font-size: 25px;
  margin: 0;
}

.MainNavigation {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.HeaderButtons {
  background: none;
  border: none;
  color: #121619;
  height: 30px;
  outline: none;
}

.HeaderButtons:active {
  background: #E5E5E5;
  border-radius: 10px;
}

.LeftViewContentParent {
  align-items: center;
  /* background-color: brown; */
  display: flex;
  height: 100vh;
  justify-content: center;
}

.ProjectLeftViewContent {
  align-items: flex-start;
  /* background-color: dimgray; */
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  width: 70%
}

.ProjectInfo {
  height: 20%
}

.ProjectInfo h1 {
  font-size: 30px;
}
