.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.MainHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
  width: 60%;
}

.MainTitle {
  color: #98C1D9;
  font-size: 25px;
  margin: 0;
}

.MainNavigation {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.HeaderButtons {
  background: none;
  border: none;
  color: #121619;
  height: 30px;
  outline: none;
}

.HeaderButtons:active {
  background: #E5E5E5;
  border-radius: 10px;
}

/* @keyframes AppLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
