.Header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  padding: 20px;
}

.HeaderTitle {
  color: #98C1D9;
  font-size: 25px;
  margin: 0;
}

.Navigation {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.HeaderButtons {
  background: none;
  border: none;
  color: #121619;
  height: 30px;
  outline: none;
}

.HeaderButtons:hover {
  cursor: pointer; 
}

.HeaderButtons:active {
  background: #E5E5E5;
  border-radius: 10px;
  cursor: pointer;
}