/* ---------------- */
/* ---------------- */
/* LEFT VIEW STYLES */
.LeftViewParent {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.LeftHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
}

.LeftTitle {
  color: #98C1D9;
  font-size: 25px;
  margin: 0;
}

.ProjectDiscriptionParent {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.ProjectDiscription {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  width: 70%
}

.ProjectInfo {
  animation: slideUp 6s linear 1s;
  display: flex;
  height: 20%;
  flex-direction: row;
}

.ProjectInfo h1 {
  font-size: 30px;
}

.ProjectText {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.AboutMeParent {
  /* background: dodgerblue; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1% 0% 5%;
}

.ImageAndFactsContainer {
  /* background: darksalmon; */
  border-left: 2px solid #373940;
  height: 100%;
  padding: 0.5%;
}

.Image {
  border-radius: 5px;
  height: 35%;
  width: 40%;
}

.Categories {
  margin: 8px 0;
  text-decoration: underline overline #FCA311;
}