
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(0);
	}

	to {
		opacity: 1;
		transform: translateY(1);
	}
}

@keyframes slideUpFromBottom {
	0% {
    opacity: 0;
		transform: translateY(50%);
	}

	100% {
    opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(-300%);
	}
}

@keyframes slideUpOpacity {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}

.LeftViewParent {
  background: #fa8072;
  display: flex;
  flex-direction: column;
  overflow: scroll; 
  width: 60%;
}

.Header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
}

.HeaderTitle {
  color: #98C1D9;
  font-size: 25px;
  margin: 0;
}

.Navigation {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.HeaderButtons {
  background: none;
  border: none;
  color: #121619;
  height: 30px;
  outline: none;
}

.HeaderButtons:hover {
  cursor: pointer; 
}

.HeaderButtons:active {
  background: #E5E5E5;
  border-radius: 10px;
  cursor: pointer;
}

.ProjectDiscriptionParent {
  animation: slideIn 2s ease-in-out 0s;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.ProjectDiscription {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-around;
  width: 70%
}

.ProjectContainer {
  animation: slideUpFromBottom 1s linear 0s;
  height: 100%;
  width: 100%;
}

.ProjectTitle {
  /* animation: fadeOut 1s ease-out 6s; */
  animation: slideUpOpacity 1s linear 6s;
  display: flex;
  height: 10%;
  flex-direction: row;
}

.ProjectTitle .ProjectText {
  height: 10%;
  font-size: 40px;
}

.ProjectInfo {
  animation: slideUp 1s linear 6s;
  display: flex;
  height: 10%;
  flex-direction: row;
}

.ProjectInfo h1 {
  font-size: 30px;
}

.ProjectText {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.AboutMeParent {
  animation: slideIn 2s ease-in-out 0s;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1% 0% 5%;
} 

.ImageAndFactsContainer {
  border-left: 2px solid #373940;
  height: 100%;
  padding: 0.5%;
}

.Image {
  border-radius: 5px;
  height: 35%;
  width: 40%;
}

.Categories {
  margin: 8px 0;
  text-decoration: underline overline #FCA311;
}

.ContactParent {
  animation: slideIn 2s ease-out 0s;
  position: absolute;
  top: 65px;
  width: 60%;
  z-index: 2;
}

.LinksContainer {
  display: flex;
  justify-content: flex-end;
}

.LinksContainer .HeaderButtons {
  border-bottom: 1px solid #373940;
  margin: 0 5px;
}

.ProgressBarParent {
  background-color: lightgrey;
  border-radius: 4px;
  height: 6px;
  width: 100%;
}

.ProgressBarParent .Progress {
  background: #98C1D9;
  border-radius: 4px;
  height: 100%;
  transition: width 1s ease-in-out 0s;
}

/* @keyframes fadeOut {
	0% {
		opacity: 1;
		transform: scale(0%);
	}

	100% {
		opacity: 0;
		transform: scale(100%);
	}
} */