.ProjectsContainer {
  /* filter: blur(10px); */
  /* background-color: beige; */
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.ProjectWrapperContainer {
  /* background: aqua; */
  display: flex;
  height: 100%;
  width: 100%;
}

.ProjectViewContainer {
  background: #FCFCFC;
  display: flex;
  height: 100%;
  padding: 10px;  
  width: 100%;
}

.ProjectDescriptionWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ProjectDescriptionContainer {
  height: 100%;
  width: 100%;
}

.ProjectButtonsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 50%;
}

.ProjectButtons {
  background: #E5E5E5;
  border: none;
  border-radius: 10px;
  height: 30px;
  outline: none; 
}

.ProjectButtons:hover {
  cursor: pointer; 
}

.ProjectButtons:active {
  background: #404040;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}