.ProjectsContainer {
  background-color: beige;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.ProjectWrapperContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.ProjectViewContainer {
  display: flex;
  height: 100%;
  width: 100%;
}