@keyframes slideUpTop {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 0;
		transform: translateY(-50%);
	}
}

@keyframes SlideUpFromBottom {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.RightViewParent {
  background-color: #F5D0C5;
  height: 100%;
  overflow: hidden;
  width: 40%;
}

.RighViewContent { 
  animation: slideUpTop 1s ease-in-out 6s;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 6;
}

.ImageParent {
  animation: SlideUpFromBottom 1s ease-out 0s;
  align-items: center; 
  display: flex; 
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 40%;
  z-index: 3;
}

.Images {
  border-radius: 5px;
  height: 70%;
  width: 50%;
}

.ProjectButtons {
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
  margin: 5px 0;
  width: 50%
}

.ProjectLinkButtons {
  background: #fff;
  border-radius: 5px;
  outline: 0;
  border: none;
}

.ProjectLinkButtons:active {
  background: #E5E5E5;
  cursor: pointer; 
}

.ProjectLinkButtons:hover {
  cursor: pointer; 
}

/* @keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(0);
	}

	to {
		opacity: 1;
		transform: translateY(1);
	}
} */